$text-color: #424242;
$background: #D9D9D9;
$accent-color: #A8EFFF;
$accent-hover: #91E2F4;
$gray: #424242;

#Home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;

    .intro {
        display: flex;
        flex-direction: column;
        margin-right: 50px;

        #disclaimer {
            font-style: italic;
            font-size: medium;
            font-weight: 300;
        }

        .contact-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 160px;
        }

    }
}

